.contact-container {
  display: flex;
  padding-top: 150px;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  color: #a1cca5;
  background-color: #111d13;
  z-index: 2;
  padding: 20px;
}

.contact-title-mobile {
  color: #a1cca5;
  background-color: #111d13;
  z-index: 2;
  padding: 20px;
  display: none;
  text-align: center;
}

.dec-line-contact {
  background-color: #e7f7e9;
  height: 5px;
  width: 100%;
  position: relative;
  top: -67px;
  z-index: 1;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 300px;
  padding: 0px 20px 20px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.check-icon {
  padding: 30px 0px 20px 0px;
  font-size: 50pt;
}

.check-text {
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .contact-title {
    display: none;
  }
  .contact-title-mobile {
    display: block;
  }
}
