.projects-header {
  background-color: #111d13;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}

.projects-title {
  padding-left: 10%;
  color: #a1cca5;
}

.projects-line-detail {
  background-color: #e7f7e9;
  width: 62%;
  height: 5px;
  position: absolute;
  right: 0;
}

.project-list-container {
  width: 85%;
  height: 550px;
  margin-top: 50px;
  margin-left: 10%;
}
