.header-box {
  background: linear-gradient(325deg, #709775 48%, #375039 100%);
  height: 800px;
}

.about-box {
  background-color: #111d13;
  height: 800px;
}

.projects-box {
  background-color: #709775;
  height: 800px;
}

.contact-box {
  background-color: #111d13;
  height: 800px;
}

.code-pic {
  position: absolute;
  width: 320px;
  padding-left: 50%;
  top: 400px;
  z-index: 2;
}

.leaf-pic {
  position: absolute;
  width: 450px;
  top: 550px;
  padding-left: 60%;
  z-index: 1;
}

.dec-line-1 {
  position: absolute;
  width: 1px;
  height: 760px;
  background-color: #a1cca5;
  z-index: 1;
  margin-left: 2%;
}

.dec-line-2 {
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #a1cca5;
  z-index: 1;
  margin-left: 2%;
  top: 760px;
}
